    @import 'colores';
    body {
        margin: 0 !important;
        background-image: url(../Img/Fondo-new.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    /*------------------Cabecera-Menu*/
    
    header {
        width: 83.9%;
        height: 110px;
        background-color: $color-negro;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        a {
            list-style: none;
            text-decoration: none;
            h1 {
                font-family: 'Orbitron', sans-serif;
                font-weight: bold;
                color: white;
                font-size: 25px;
                animation-name: Logo;
                animation-duration: 3s;
            }
        }
        .hamburguesa {
            background: none;
            border: none;
            color: white;
            display: none;
            cursor: pointer;
        }
        @keyframes Logo {
            0% {
                opacity: 0%;
            }
            100% {
                opacity: 100%;
            }
        }
        .menu {
            ul {
                li {
                    display: inline-block;
                    font-size: 22px;
                    font-family: 'Orbitron', sans-serif;
                    font-weight: bold;
                    margin: 5px 15px 0px 15px;
                    a {
                        color: $color-blanco;
                    }
                    a:hover {
                        color: #00a29c;
                    }
                    ul {
                        position: absolute;
                        display: none;
                        li {
                            border: solid 1px;
                            border-color: #00a29c;
                            margin: 5px;
                            padding: 5px;
                            background-color: $color-negro;
                            margin-left: -48px;
                            display: block;
                        }
                    }
                }
                li:hover ul {
                    display: block;
                    text-align: center;
                }
            }
        }
    }
    /*-----------------Fin-Cabecera-Menu*/
    /*------------------Seccion Vs*/
    
    .seccion__VSdeLaSemana {
        display: flex;
        justify-content: stretch;
        margin: auto;
        width: 85%;
        height: 718px;
        a {
            width: 100%;
            height: 718px;
            display: flex;
        }
        .Img__Vs {
            margin: auto;
            width: 99.2%;
            height: 718px;
            background-image: url(../Img/Plantilla-Versus.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    /*---------------- Seccion Noticias*/
    
    .Fon__Noti {
        width: 84%;
        margin: auto;
        h3 {
            color: $color-blanco;
            display: inline-block;
            font-family: 'Orbitron', sans-serif;
            font-size: 30px;
            margin: 35px 0px 0px 25px;
            font-weight: 700;
        }
        .seccion__Noticias {
            text-align: center;
            display: grid;
            grid-template-areas: "img1Noti Noti2 Noti4" "img1Noti Noti3 Noti5";
            grid-row-gap: 7px;
            grid-column-gap: 10px;
            justify-items: center;
            margin: 25px 0px 25px 0px;
        }
        .img1Noti {
            background-image: url(../Img/Bob.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 98%;
            height: 470px;
            grid-area: img1Noti;
            border-radius: 10px;
            box-shadow: 2px 3px 3px 2px #e99b9b3a;
            display: flex;
            flex-direction: column-reverse;
        }
        .Noti {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: grey;
            height: 228px;
            width: 98%;
            border-radius: 10px;
            display: flex;
            flex-direction: column-reverse;
            box-shadow: 2px 3px 3px 2px #e99b9b3a;
        }
        .Noti--2 {
            background-image: url(../Img/Weekend.jpg);
            grid-area: Noti2;
        }
        .Noti--3 {
            margin-top: 7px;
            background-image: url(../Img/calamaro.jpg);
            grid-area: Noti3;
        }
        .Noti--4 {
            background-image: url(../Img/calamaro.jpg);
            grid-area: Noti4;
        }
        .Noti--5 {
            margin-top: 7px;
            background-image: url(../Img/calamaro.jpg);
            grid-area: Noti5;
        }
        .Pr__Noti {
            height: 70px;
            font-family: 'Poppins', sans-serif;
            font-size: 1.3em;
            font-weight: 400;
            text-align: left;
            color: rgb(255, 255, 255);
            background-color: #00a29dd3;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        span {
            height: 50px;
            font-family: 'Poppins', sans-serif;
            font-size: 1.2em;
            font-weight: 400;
            color: rgb(255, 255, 255);
            background-color: #00a29dd3;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            button {
                width: 40px;
                height: 33px;
                margin: 2px;
                border-radius: 30%;
                background-color: $color-negro;
                border-style: none;
                color: $color-blanco;
                font-family: 'Poppins', sans-serif;
                font-size: 0.7em;
                font-weight: 300;
            }
            button:hover {
                background-color: $color-blanco;
                color: $color-negro;
            }
        }
    }
    /*------------------Fin Seccion Noticias*/
    /*------------------------- Botones*/
    
    .prueba__sass {
        margin: auto;
        margin-top: 80px;
        margin-bottom: 15px;
        width: 84%;
        height: 90px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        li {
            width: 13%;
            height: 89px;
            background-color: rgb(22, 22, 22);
            border-radius: 10px;
            margin: 0px 5px 20px 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: inset 5px #00a29c;
        }
        a {
            color: white;
            font-family: 'Orbitron', sans-serif;
            font-size: 1.3em;
            text-decoration: none;
        }
        a:hover {
            color: #00a29c;
            font-weight: 900;
            font-size: 1.5em;
        }
    }
    /*------------------ Seccion Video*/
    
    .seccion__Videos {
        width: 85%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        h3 {
            color: #ffff;
            display: inline-block;
            font-family: 'Orbitron', sans-serif;
            font-size: 30px;
            margin: 35px 0px 0px 25px;
            font-weight: 700;
        }
        .contenedor {
            margin: 40px 0px 0px 0px;
            display: flex;
            justify-content: space-between;
        }
        .vid1 {
            background-color: #00a29c;
            box-shadow: 2px 3px 3px 2px #e99b9b3a;
            width: 44%;
            height: 480px;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .TextVid {
            margin-top: 5px;
            color: #ffff;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 1.2em;
        }
        .vid__2 {
            width: 55%;
            height: 480px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .vid2 {
                background-color: #00a29c;
                border-radius: 9px;
                height: 225px;
                padding: 8px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                box-shadow: 2px 3px 3px 2px #e99b9b3a;
                #MinVid {
                    width: 45%;
                    height: 100%;
                }
                div {
                    width: 53%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    span {
                        color: #ffff;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 500;
                        margin-left: 10px;
                        font-size: 1.4em;
                    }
                    p {
                        width: 90%;
                        color: #ffff;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 400;
                        font-size: 1.1em;
                        text-align: left;
                    }
                }
            }
            .vid3 {
                background-color: #00a29c;
                height: 225px;
                border-radius: 9px;
                padding: 8px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                box-shadow: 2px 3px 3px 2px #e99b9b3a;
                #MinVid {
                    width: 45%;
                    height: 100%;
                }
                div {
                    width: 53%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    span {
                        color: #ffff;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 500;
                        margin-left: 10px;
                        font-size: 1.4em;
                    }
                    p {
                        width: 90%;
                        color: #ffff;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 400;
                        font-size: 1.1em;
                        text-align: left;
                    }
                }
            }
            .TextLate {
                width: 50%;
                color: #ffff;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 1.1em;
                margin-left: 10px;
                text-align: left;
                padding: 5px 0px 10px 0px;
            }
        }
    }
    /*------------------------- Fin Seccion Video*/
    /*-------------------------Bootstrap Lista*/
    
    .container--cambio {
        width: 84%;
        margin: auto;
        h3 {
            color: #ffff;
            display: inline-block;
            font-family: 'Orbitron', sans-serif;
            font-size: 30px;
            margin: 35px 0px 35px 25px;
            font-weight: 700;
        }
        .rojo {
            background-color: none;
            height: 300px;
            margin: 0;
        }
    }
    /*--------------------------- Footer*/
    
    .seccion__Footer {
        background-color: #000000;
        border: 2px #00a29c;
        border-style: inset;
        border-bottom: none;
        height: 150px;
        width: 84%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        div>span {
            color: white;
            font-family: 'Orbitron', sans-serif;
            font-weight: 700;
            font-size: 25px;
            margin-bottom: 15px;
        }
        .Subscribete {
            border-color: #00a29c;
            background-color: #00a29c;
            border-radius: 0.2rem;
            cursor: pointer;
            font-size: 1rem;
            font-family: 'Orbitron', sans-serif;
            font-weight: 700;
            margin-top: 30px;
            margin-left: 15px;
        }
        .Subscribete:hover {
            border-color: rgb(255, 0, 0);
            background-color: rgb(255, 0, 0);
            color: white;
        }
        input {
            background-color: black;
            border-color: #00a29c;
            font-family: 'Orbitron', sans-serif;
            padding: 5px;
            color: white;
        }
        .Proximamente {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 500px;
            height: 50px;
            .social-icons {
                display: flex;
                justify-content: space-around;
                flex-direction: row;
            }
            .social-icons li {
                display: inline;
                margin-right: 2em;
            }
        }
    }
    /*----------------Fin  Footer*/
    /*------------------------- Pagina Servicios*/
    
    main {
        width: 70%;
        height: 1000px;
        margin: auto;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h2 {
            font-family: 'Orbitron', sans-serif;
            color: white;
            font-size: 2em;
            font-weight: 700;
        }
        .CajaServicio {
            background-color: black;
            width: 100%;
            height: 280px;
            display: flex;
        }
        .Servi {
            background-color: #00a29c;
            color: black;
            width: 30%;
            height: 280px;
            font-family: 'Orbitron', sans-serif;
            font-size: 2.5em;
            font-weight: 700;
            text-align: center;
            display: flex;
            align-items: center;
        }
        .Servi:hover {
            background-color: black;
            color: white;
            border: #00a29c;
            border-style: solid;
        }
        .Descrip {
            display: inline-block;
            width: 70%;
            color: white;
            display: flex;
            align-items: center;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 1.3em;
            text-align: center;
        }
        .Descrip>span {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    /*------------------------- Pagina About*/
    
    .quienes {
        background-color: black;
        width: 100%;
        height: 410px;
        display: flex;
        align-items: center;
        .somos {
            width: 30%;
            font-family: 'Orbitron', sans-serif;
            font-size: 1.8em;
            font-weight: 700;
            color: white;
            text-align: center;
        }
        .expli {
            background-color: #00a29c;
            width: 70%;
            height: 410px;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 1.2em;
            display: flex;
            align-items: center;
            span {
                margin-left: 35px;
                margin-right: 35px;
            }
        }
    }
    
    .Int1 {
        width: 100%;
        height: 390px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .integrante {
            background-color: rgb(0, 0, 0);
            width: 30%;
            height: 390px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            border-radius: 8px;
            color: white;
            text-align: center;
            font-family: 'Orbitron', sans-serif;
            font-weight: 700;
            font-size: 1.5em;
        }
        .foto {
            background-color: teal;
            width: 100%;
            height: 310px;
            background-image: url(../Img/Per1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        .foto2 {
            background-color: teal;
            width: 100%;
            height: 310px;
            background-image: url(../Img/Per2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        .foto3 {
            background-color: teal;
            width: 100%;
            height: 310px;
            background-image: url(../Img/Per3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        span {
            margin-bottom: 30px;
        }
    }
    /*------------------------- Pagina Contact*/
    
    .ContainForm {
        width: 70%;
        height: 770px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        h4 {
            color: white;
            font-family: 'Orbitron', sans-serif;
            font-size: 35px;
            font-weight: 700;
        }
        .formulario {
            background-color: black;
            width: 100%;
            height: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            input {
                background-color: black;
                border-color: #00a29c;
                font-family: 'Orbitron', sans-serif;
                padding: 5px;
                color: white;
            }
        }
        div {
            color: white;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 1.4em;
            text-align: center;
            margin: 20px 10px 15px 10px;
        }
        textarea {
            width: 97%;
            height: 200px;
            background-color: black;
            border-color: #00a29c;
            font-family: 'Orbitron', sans-serif;
            padding: 5px;
            color: white;
        }
        .envi {
            border-color: #00a29c;
            background-color: #00a29c;
            border-radius: 0.2rem;
            cursor: pointer;
            font-size: 1rem;
            font-family: 'Orbitron', sans-serif;
            font-weight: 700;
            margin-top: 30px;
            margin-left: 15px;
        }
        .envi:hover {
            border-color: rgb(255, 0, 0);
            background-color: rgb(255, 0, 0);
            color: $color-blanco;
        }
        .divi {
            margin: 5px 0 5px 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: stretch;
        }
        .modi {
            width: 330px;
            margin-right: 7px;
        }
    }
    /*------------------------- Media Queries*/
    
    @media screen and (max-width:980px) {
        header {
            height: 90px;
            a {
                h1 {
                    font-size: 1.1em;
                }
            }
            .menu {
                ul {
                    li {
                        display: inline-block;
                        font-size: 0.9em;
                    }
                }
            }
        }
        .seccion__VSdeLaSemana {
            width: 85%;
            height: 375px;
            a {
                width: 100%;
                height: 375px;
            }
            .Img__Vs {
                width: 99.2%;
                height: 375px;
            }
        }
        .Fon__Noti {
            h3 {
                margin-left: 0px;
                font-size: 1.4em;
            }
            .img1Noti {
                width: 98%;
                height: 350px;
            }
            .Noti {
                height: 165px;
                width: 98%;
            }
            .Pr__Noti {
                height: 60px;
                font-size: 0.9em;
            }
            span {
                height: 40px;
                font-size: 0.9em;
                button {
                    width: 37px;
                    height: 31px;
                    font-size: 0.8em;
                }
            }
        }
        .prueba__sass {
            margin-top: 60px;
            margin-bottom: 15px;
            width: 84%;
            height: 90px;
            li {
                width: 15%;
                height: 60px;
            }
            a {
                font-size: 0.9em;
            }
            a:hover {
                font-size: 1em;
            }
        }
        .seccion__Videos {
            h3 {
                margin-left: 0px;
                font-size: 1.4em;
            }
            .TextVid {
                margin-top: 3px;
                font-size: 1em;
            }
            .vid__2 {
                .vid2 {
                    div {
                        span {
                            font-size: 1em;
                        }
                        p {
                            font-size: 0.9em;
                            text-align: left;
                        }
                    }
                }
                .vid3 {
                    div {
                        span {
                            font-size: 1em;
                        }
                        p {
                            font-size: 0.9em;
                            text-align: left;
                        }
                    }
                }
            }
        }
        .container--cambio {
            h3 {
                font-size: 1.4em;
                margin-left: 0px;
            }
        }
        .seccion__Footer {
            justify-content: space-around;
            .Inscribete {
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                span {
                    color: white;
                    font-family: 'Orbitron', sans-serif;
                    font-weight: 700;
                    font-size: 15px;
                    margin-bottom: 15px;
                }
                .Subscribete {
                    font-size: 0.9em;
                    margin-top: 20px;
                    margin-left: 15px;
                }
                input {
                    padding: 3px;
                    color: white;
                    font-size: 0.8em;
                }
            }
        }
        /*-------------------Pagina Servicios*/
        main {
            width: 75%;
            height: 850px;
            h2 {
                font-size: 1.4em;
                font-weight: 700;
            }
            .CajaServicio {
                width: 100%;
                height: 220px;
                display: flex;
            }
            .Servi {
                width: 30%;
                height: 220px;
                font-size: 1.5em;
            }
            .Descrip {
                font-size: 1em;
                text-align: center;
            }
        }
        /*-------------------Pagina About*/
        .quienes {
            width: 100%;
            height: 290px;
            display: flex;
            align-items: center;
            .somos {
                width: 30%;
                font-size: 1.2em;
            }
            .expli {
                width: 70%;
                height: 290px;
                font-size: 1em;
                span {
                    margin-left: 35px;
                    margin-right: 35px;
                }
            }
        }
        .Int1 {
            width: 100%;
            height: 330px;
            .integrante {
                background-color: rgb(0, 0, 0);
                width: 30%;
                height: 320px;
                font-size: 1em;
            }
            .foto {
                background-color: teal;
                width: 100%;
                height: 280px;
                background-position: center;
            }
            .foto2 {
                width: 100%;
                height: 280px;
                background-position: center;
            }
            .foto3 {
                width: 100%;
                height: 280px;
                background-position: center;
            }
            span {
                margin-bottom: 30px;
            }
        }
        /*-------------------Pagina Contact*/
        .ContainForm {
            width: 75%;
            height: 650px;
            h4 {
                font-size: 1.2em;
            }
            .formulario {
                width: 100%;
                height: 500px;
                input {
                    background-color: black;
                    border-color: #00a29c;
                    font-family: 'Orbitron', sans-serif;
                    padding: 5px;
                    color: white;
                }
            }
            div {
                font-size: 1em;
            }
            form {
                margin: auto;
                margin-left: 35px;
            }
            textarea {
                width: 68%;
                height: 170px;
                padding: 3px;
                color: white;
            }
            .envi {
                font-size: 0.8em;
                margin-top: 0px;
                margin-bottom: 10px;
                margin-left: 15px;
            }
            .divi {
                width: 70%;
                margin: 5px 0 5px 0;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: stretch;
                align-items: center;
            }
            .modi {
                width: 330px;
                margin-right: 7px;
            }
        }
    }
    /*------------------------- Media Queries Movil*/
    
    @media screen and (max-width:420px) {
        header {
            width: 100%;
            height: 10vh;
            display: flex;
            flex-direction: row-reverse;
            a {
                h1 {
                    font-size: 1.2em;
                }
            }
            .hamburguesa {
                display: block;
            }
            .menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: fixed;
                width: 100%;
                background-color: #00a29c;
                left: 0px;
                top: 10vh;
                padding: 0px;
                height: calc(100% - 10vh);
                overflow-y: auto;
                left: 100%;
                transition: left 0.3s;
                ul {
                    li {
                        display: block;
                        font-size: 1.3em;
                        margin-top: 50px;
                        a:hover {
                            color: #000000;
                        }
                        ul {
                            background-color: none;
                            li {
                                margin-left: 0px;
                                font-size: 0.7em;
                            }
                        }
                    }
                }
            }
            .menu_visible {
                left: 0;
            }
        }
        .seccion__VSdeLaSemana {
            width: 95%;
            height: 160px;
            a {
                width: 100%;
                height: 160px;
            }
            .Img__Vs {
                width: 99%;
                height: 160px;
            }
        }
        .Fon__Noti {
            width: 90%;
            h3 {
                margin-left: 0px;
                font-size: 1em;
            }
            .seccion__Noticias {
                text-align: center;
                display: grid;
                grid-template-areas: "img1Noti img1Noti" "Noti2 Noti3 " "Noti4 Noti5 ";
                justify-items: center;
                margin: 10px 0px 10px 0px;
            }
            .img1Noti {
                background-image: url(../Img/Bob.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 98%;
                height: 220px;
                grid-area: img1Noti;
            }
            .Noti {
                height: 115px;
                width: 98%;
            }
            .Noti--2 {
                background-image: url(../Img/Weekend.jpg);
                grid-area: Noti2;
            }
            .Noti--3 {
                background-image: url(../Img/calamaro.jpg);
                grid-area: Noti3;
                margin-top: 0px;
            }
            .Noti--4 {
                background-image: url(../Img/calamaro.jpg);
                grid-area: Noti4;
            }
            .Noti--5 {
                background-image: url(../Img/calamaro.jpg);
                grid-area: Noti5;
                margin-top: 0px;
            }
            .Pr__Noti {
                height: 60px;
                font-size: 0.8em;
            }
            span {
                height: 50px;
                font-size: 0.7em;
                padding: 3px;
                button {
                    width: 35px;
                    height: 34px;
                    margin: 1px;
                    font-family: 'Poppins', sans-serif;
                    font-size: 0.7em;
                }
            }
        }
        .prueba__sass {
            margin: auto;
            margin-top: 15px;
            margin-bottom: 16px;
            width: 94%;
            height: 100px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            li {
                width: 37%;
                height: 55px;
                background-color: rgb(22, 22, 22);
                border-radius: 10px;
                margin: 0px 5px 20px 5px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
            a {
                font-size: 0.8em;
            }
            a:hover {
                font-size: 0.9em;
            }
        }
        .seccion__Videos {
            width: 94%;
            margin: auto;
            margin-top: 15px;
            margin-bottom: 8vh;
            h3 {
                font-size: 1em;
                margin: 35px 0px 0px 0px;
            }
            .contenedor {
                margin: 20px 0px 0px 0px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .vid1 {
                width: 95%;
                height: 270px;
                padding: 6px;
                margin-bottom: 10px;
            }
            .TextVid {
                margin-top: 2px;
                font-size: 0.9em;
            }
            .vid__2 {
                width: 95%;
                height: 560px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .vid2 {
                    height: 300px;
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-bottom: 3vh;
                    #MinVid {
                        width: 97%;
                        height: 100%;
                    }
                    div {
                        width: 97%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        span {
                            margin-left: 10px;
                            font-size: 0.9em;
                        }
                        p {
                            width: 90%;
                            font-size: 0.8em;
                            text-align: left;
                        }
                    }
                }
                .vid3 {
                    height: 300px;
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-bottom: 3vh;
                    #MinVid {
                        width: 97%;
                        height: 100%;
                    }
                    div {
                        width: 97%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        span {
                            margin-left: 10px;
                            font-size: 0.9em;
                        }
                        p {
                            width: 90%;
                            font-size: 0.8em;
                            text-align: left;
                        }
                    }
                }
            }
        }
        .container--cambio {
            width: 94%;
            margin: auto;
            h3 {
                font-size: 1em;
                margin: 20px 0px 20px 0px;
                font-weight: 700;
            }
            .rojo {
                background-color: none;
                height: 300px;
                margin: 0;
            }
        }
        .seccion__Footer {
            border-bottom: none;
            height: 230px;
            width: 95%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .Inscribete {
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    color: white;
                    text-align: center;
                    font-size: 1em;
                    margin-bottom: 10px;
                }
                .Subscribete {
                    width: 70%;
                    border-radius: 0.2rem;
                    font-size: 1em;
                    margin-left: 35px;
                }
                input {
                    width: 100%;
                    padding: 5px;
                    color: white;
                }
            }
            .Proximamente {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 60%;
                height: 50px;
                .social-icons {
                    display: flex;
                    justify-content: space-around;
                    flex-direction: row;
                }
                .social-icons li {
                    display: inline;
                    margin-right: 2em;
                }
            }
        }
        /*------------------------- Pagina Servicios*/
        main {
            width: 90%;
            height: 600px;
            margin: auto;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
                font-size: 1em;
                font-weight: 700;
            }
            .CajaServicio {
                width: 100%;
                height: 230px;
                display: flex;
                flex-direction: column;
            }
            .Servi {
                width: 100%;
                height: 45px;
                font-size: 0.9em;
                font-weight: 700;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .Descrip {
                display: inline-block;
                width: 100%;
                color: white;
                display: flex;
                align-items: center;
                font-size: 0.8em;
                text-align: center;
            }
            .Descrip>span {
                margin-top: 20px;
                margin-left: 20px;
                margin-right: 20px;
            }
        }
        /*------------------------- Pagina About*/
        .quienes {
            width: 100%;
            height: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin-top: 20px;
            .somos {
                width: 100%;
                height: 13%;
                font-size: 1em;
                text-align: center;
                display: flex;
                justify-content: center;
            }
            .expli {
                width: 100%;
                height: 850%;
                text-align: center;
                font-size: 0.8em;
                display: flex;
                align-items: center;
                span {
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }
        .Int1 {
            width: 100%;
            height: 410px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            .integrante {
                width: 61%;
                height: 150px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                font-size: 1em;
            }
            .foto {
                background-color: teal;
                width: 100%;
                height: 200px;
                background-image: url(../Img/Per1.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                margin-bottom: 2px;
            }
            .foto2 {
                background-color: teal;
                width: 100%;
                height: 200px;
                background-image: url(../Img/Per2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                margin-bottom: 2px;
            }
            .foto3 {
                background-color: teal;
                width: 100%;
                height: 200px;
                background-image: url(../Img/Per3.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                margin-bottom: 2px;
            }
            span {
                margin-bottom: 10px;
            }
        }
        /*-------------------Pagina Contact*/
        .ContainForm {
            width: 90%;
            height: 500px;
            h4 {
                font-size: 1em;
            }
            .formulario {
                width: 100%;
                height: 490px;
                input {
                    background-color: black;
                    border-color: #00a29c;
                    font-family: 'Orbitron', sans-serif;
                    padding: 5px;
                    color: white;
                }
            }
            div {
                font-size: 0.9em;
            }
            form {
                margin: auto;
            }
            textarea {
                width: 90%;
                height: 170px;
                padding: 3px;
                color: white;
            }
            .envi {
                font-size: 0.8em;
                margin-top: 0px;
                margin-bottom: 10px;
                margin-left: 15px;
            }
            .divi {
                width: 90%;
                margin: 5px 0px 5px 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .modi {
                margin-bottom: 3px;
                width: 100%;
                margin-right: 7px;
            }
        }
    }